/****************************************/
/* publish specifics
/****************************************/

/* site logos */

.site-body-left-column-site-name {
  text-align: center;
  margin: 0 auto;
  color: cadetblue;
}

/*
.site-body-left-column-site-name::before {
    background: none;
    display: block;
    content: url('Images/digital-garden-small.png');
    width: 60%;
    margin: 0 auto;
}
*/

.page-header {
    font-size: 24px;
    font-weight: 800;
    line-height: 46px;
    color: #C0392B;
}

.site-footer a {
    color: white;
}

/* 29.09.21 removed after Mary said she can only see 1 page /*
/*
.site-body-left-column {
    min-width: 320px;
}
.site-body-center-column {
    min-width: 1000px;
}
*/

/****************************************/
/* admonitions.css
/****************************************/

.admonition {
    padding: 15px;
    margin-bottom: 21px;
    border-left: 10px solid transparent;
}

.admonition .title {
    margin: 0;
    padding-left: 3px;
}

.admonition .content {
    padding-left: .75em;
    padding-right: .75em;
    padding-top: 0.5em;
    margin-left: 0;
    border: 1px;
    min-height: 0;
    font-size: 11px;
    line-height: 1.3em;
}

.quote {
    border-color: gray;
    background-color: #f8f8f8;
}

.quote .title {
    font-size: 30px;
    margin-top: -0.2em;
    color: gray;
}

.quote .content {
    margin-top: -1em;
}

.note {
    border-color: olive;
    background-color: #f6fffe;
}

.note .title {
    color: olive;
}

.tip {
    border-color: blue;
    background-color: #f6fcff;
}

.tip .title {
    color: blue;
}

.warning {
    border-color: orange;
    background-color: #fffeec;
}

.warning .title {
    color: orange;
}

.important {
    border-color: red;
    background-color: #fffbfb;
}

.important .title {
    color: red;
}

/****************************************/
/* audio.css
/****************************************/

audio {
    filter: sepia(20%) saturate(70%) grayscale(1) contrast(99%) invert(5%);
    width: 200px;
    height: 20px;
    font-size: 12px;
}

/* works only in Chrome */
audio::-webkit-media-controls-play-button,
audio::-webkit-media-controls-panel {
  background-color: #f0f0f0;
}

/****************************************/
/* bla.css
/****************************************/

.bla {
    color: #fff;
    background-color: #5cb85c;
}

/****************************************/
/* cm-header.css
/****************************************/

/* 19.10.21 was not included in publish.css */

.cm-header-6 {
    font-size: 10px;
    color: #d0d0d0 !important;
}


/****************************************/
/* colors
/****************************************/

.theme-light {

	/*--text-accent: #000085;*/ 
	/* 15.11.21 changed */
	--text-accent: #0000B5;
	--text-accent-hover: #0000B5;

/*
	--text-accent: #705dcf;
	--text-accent-hover: #7a6ae6;
*/
}


/****************************************/
/* counts.css
/****************************************/

.counts {
    font-size: 12px;
    color: silver;
}

.counts a {
    color: gray;
}

.counts .internal-link {
    text-decoration: none;
}

.counts .internal-link:hover {
/* 19.10.21 no need to color the keyword blue, just underline it */
/*    color: var(--text-accent) !important;*/
}


/****************************************/
/* embed.css
/****************************************/

/* 19.10.21 was not included in publish.css */

.markdown-preview-view .markdown-embed, .markdown-preview-view .file-embed {
    border-top: 2px dotted var(--background-modifier-border);
    border-bottom: 2px dotted var(--background-modifier-border);
	border-left: 2px dotted var(--background-modifier-border);
	border-right: 2px dotted var(--background-modifier-border);
    padding: 4px 0;
}


/****************************************/
/* font-family.css
/****************************************/

body {
   font-family: "Avenir Next" !important; 
}


/****************************************/
/* font-size.css
/****************************************/

.markdown-preview-view {
    font-size: 14px;
    line-height: 1.6em;
}

.markdown-source-view {
    font-size: 14px;
    line-height: 1.6em;
}


/****************************************/
/* footnotes
/****************************************/

section.footnotes {
    font-size: 11px;
}

.footnote-ref {
    font-size: 9px;
    color: magenta !important;
}   

.footnote-link {
    font-size: 9px;
    color: magenta !important;
}   


/****************************************/
/* h.css
/****************************************/

/* 22.09.21 there was no special h5 */

/* 22.09.21 h4 and following unchanged */

.markdown-preview-view h1 {
    color: white;
    background-color: #58D68D;
    padding-top: 8px;
    padding-bottom: 8px;
    line-height: 1.2em;
    padding-left: 6px;
    margin-left: -6px;
}

.markdown-preview-view h2 {
    background-color: #ABEBC6;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 6px;
    margin-left: -6px;
    font-weight: 600;
    font-size: 1.5em;
}

.markdown-preview-view h3 {
    background-color: #D5F5E3; /* White Ice */
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 6px;
    margin-top: 20px;    /* only here */
    margin-left: -6px;
    font-weight: 600;
    font-size: 1.3em;
}

/* #EAFAF1 Lily White */
/* #F1FCF6 Mint Cream, slightly lighter */

.markdown-preview-view h4 {
    background-color: #EAFAF1;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 6px;
    margin-left: -6px;
    font-weight: 500;
    font-size: 1.1em;
}

/* 22.09.21 h6 -> h5 */

.markdown-preview-view h5 {
    color: #45B39D;
    font-weight: 600;
    margin-bottom: -10px;
    font-size: 1.1em;
}

/* 22.09.21 new h6 */

.markdown-preview-view h6 {
  position: relative;
  /* left: -2.2%;*/
  left: -24px;
  top: 26px;
  line-height: 0px;
  margin-top: -20px;
  margin-right: 3px;
  font-family: var(--font-family-preview);
  font-weight: 500;
  font-size: 9px !important;
  /* font-weight: bold;*/
  font-style: normal;;
  color: var(--text-faint) !important;
}

.blockid {
  font-family: var(--font-family-preview);
  font-weight: 500;
  font-size: 9px !important;
  /* font-weight: bold;*/
  font-style: normal;;
  color: var(--text-faint) !important;
}

/****************************************/
/* hr.css
/****************************************/

.markdown-preview-view hr {
    border: none;
    border-top: 0.1px solid;
    /*border-color: var(--background-modifier-border);*/
    border-color: #e0e0e0;
    margin-top: 2px;
    margin-bottom: -7px;
    margin-left: -6px;
}

.markdown-preview-view hr.dashed-red {
  border-top: 1px dashed red;
  margin: 0;
  padding: 0;
}

.markdown-preview-view hr.cell {
  border-top: 1px dotted #f0f0f0;
  margin: 3px;
  padding: 2;
}


/****************************************/
/* img.css
/****************************************/
/* 02.10.21 */

.markdown-preview-view img {
 
  display: block;
  margin-top: 10pt;
  margin-bottom: 10pt;
  margin-left: auto; /* 70pt better for notebook, but gets too cramped in publish*/
  margin-right: auto;
  padding: 20pt;   
  /* width: 40%;  */
  transition:transform 0.25s ease;
  /* transform:scale(0.9); */
}

.markdown-preview-view img:hover {
    -webkit-transform:scale(1.8); /* experiment with values */
    transform:scale(1.0);
}


/****************************************/
/* internal-link
/****************************************/

.markdown-preview-view .internal-link {
  text-decoration: none !important;
}

.markdown-preview-view .internal-link:hover {
/*  font-weight: bold;*/
  text-decoration: underline !important;
}

.otherLink .internal-link {
  color: var(--text-normal) !important;
}

.firstLink .internal-link {
  color: var(--text-accent) !important;
}

.transcript .internal-link:hover {
/* 19.10.21 normal black (underlined) is smoother than changing colors */
/*  color: var(--text-accent) !important;*/
}


/****************************************/
/* mark
/****************************************/

.markdown-preview-view mark {
    background-color: #fff9e3;
    color: var(--text-normal);
}


/****************************************/
/* paragraph
/****************************************/

.paragraph {
    font-size: 13px;
    color: var(--text-normal);
}


/****************************************/
/* playerheight.css
/****************************************/

/* 19.10.21 was not included in publish.css */
/* probably doesn't work anyways */

div.external-video, div.local-media {
    min-height: unset !important;
    height: unset !important;
}


/****************************************/
/* popover.css
/****************************************/

.popover.hover-popover {
    transform: scale(0.8); /* makes the content smaller */
    max-height: 700px;    /* was 300 */
    min-height: 100px;
    width: 600px;     /* was 400 */
    overflow: overlay;
}
/* 19.10.21 what's this? maybe responsible for hickups in official garden*/ 
/*
.popover.hover-popover .markdown-embed  {
    height: 100%;
}
*/

/* 19.10.21 also included .markdown-embed .markdown-embed-content  */
/* 19.10.21 .markdown-preview-view must be last element */
/* 19.10.21 was .popover.hover-popover.is-loaded */
.popover.hover-popover .markdown-preview-view {
    /* 22.09.21 adjusted for h6 "header" for transcripts */
/*    padding: 8px 6px 10px 26px;*/
    /* 19.10.21 no h6 adjustment necessary anymore, we always link to blockid */
	/* ... but in the transcript preview, we don't see any blockids, but that's ok */
    padding: 8px 6px 10px 10px;
}

/* Delay popover, https://forum.obsidian.md/t/meta-post-common-css-hacks/1978/379 */

@keyframes fadeIn {    
    0%
    { 
        visibility: hidden; 
    }
    99%
    { 
        visibility: hidden;
        opacity: 0;
    }
    100% 
    {
        visibility: visible;
        opacity: 1; 
    }
}


.popover{    
    animation: fadeIn 0.8s;
}


/****************************************/
/* suggestion-container.css
/****************************************/

/* 19.10.21 was not included in publish.css */

.suggestion-container {
    width: 1000px;     /* was 400 */
    transform: scale(0.8); /* makes the content smaller */
    max-height: 700px;    /* was 300 */
    min-height: 100px;
    overflow: overlay;
}


/****************************************/
/* table.css
/****************************************/

.markdown-preview-view td {
    vertical-align: top;
}

.markdown-preview-view table {
    font-size: 12px;
    line-height: 1.2em;
    padding: 4px;
    margin-left: 10px;
    margin-bottom: 20px;
}

.cm-s-obsidian .HyperMD-table-row {
    font-size: 11px
}


/****************************************/
/* tooltip.css
/****************************************/

.tooltip {
  animation: pop-down 500ms forwards ease-in-out;
  box-shadow: 0 2px 8px var(--background-modifier-box-shadow);
  background-color: rgba(250, 250, 250, 0.8);
  color: darkgray;
  font-size: 12px;
  line-height: 15px;
}

.tooltip.mod-top .tooltip-arrow {
  top: calc(100%);
  border-top: 5px solid rgba(0, 0, 0, 0.8);
  border-bottom: 5px solid transparent;
}


/****************************************/
/* tree-item.css
/****************************************/

.tree-item-inner {
    font-size: 13px;
    line-height: 1.3em;
    padding: 1.5px;
}

.tree-item-self.is-clickable {
    padding: 0;
}

.search-result-file-matches {
    font-size: 13px;
}

.nav-file-title-content {
    font-size: 13px;
    padding: 0;
}

.nav-folder-title-content {
    font-size: 13px;
    padding: 0;
}

.pane-empty {
    font-size: 13px;
}

.backlink-pane-empty {
    font-size: 13px;
}

input {
    font-size: 14px !important
}

/****************************************/
/* view-header-title.css
/****************************************/

/* 19.10.21 was not included in publish.css */

.workspace-leaf.mod-active .view-header-title {
    color: #C0392B;
    font-size: 18px;
    font-weight: 800;
}