audio {
    filter: sepia(20%) saturate(70%) grayscale(1) contrast(99%) invert(5%);
    width: 200px;
    height: 20px;
}

/* works only in Chrome */
audio::-webkit-media-controls-play-button,
audio::-webkit-media-controls-panel {
  background-color: #f0f0f0;
}
