.counts {
    font-size: 12px;
    color: silver;
}

.counts a {
    color: gray;
}

.counts .internal-link {
    text-decoration: none;
}

.counts .internal-link:hover {
  color: var(--text-accent) !important;
}
