.markdown-preview-view hr {
    border: none;
    border-top: 0.1px solid;
    /*border-color: var(--background-modifier-border);*/
    border-color: #e0e0e0;
    margin-top: 2px;
    margin-bottom: -7px;
    margin-left: -6px;
}

.markdown-preview-view hr.dashed-red {
  border-top: 1px dashed red;
  margin: 0;
  padding: 0;
}

.markdown-preview-view hr.cell {
  border-top: 1px dotted #f0f0f0;
  margin: 3px;
  padding: 2;
}

.markdown-preview-view hr.pagebreak {
  border-top: 1px dashed #e0e0e0;
  margin-bottom: 10px;
  magin-left:-5px;
  padding: 0;
}
