.markdown-preview-view .internal-link {
  text-decoration: none !important;
}

.markdown-preview-view .internal-link:hover {
/*  font-weight: bold;*/
  text-decoration: underline !important;
}

.transcript .internal-link {
  color: var(--text-normal) !important;
}

.transcript .internal-link:hover {
  color: var(--text-accent) !important;
}

