/* 08.10.21 unclear where this comes from and what it does */
/*
.index-table td {
    border-color: lightgray;
    width: 200px;
}
*/

.markdown-preview-view td {
    vertical-align: top;
}

.markdown-preview-view table {
    font-size: 13px;
    line-height: 1.2em;
    padding: 4px;
    margin-left: 10px;
    margin-bottom: 20px;
}

.cm-s-obsidian .HyperMD-table-row {
    font-size: 11px
}