.tooltip {
  animation: pop-down 200ms forwards ease-in-out;
  box-shadow: 0 2px 8px var(--background-modifier-box-shadow);
  background-color: rgba(250, 250, 250, 0.8);
  color: darkgray;
  font-size: 12px;
  line-height: 15px;
}

.tooltip.mod-top .tooltip-arrow {
  top: calc(100%);
  border-top: 5px solid rgba(0, 0, 0, 0.8);
  border-bottom: 5px solid transparent;
}